<%= render "shared/header" %>
<div class="main">
  <div class="inner">
    <div class="rankpage_title">
      <h1 class="page_title">ランキング</h1>
      <ul class="ranking_category">
        <li>
          <span>アーティスト</span>
        </li>
        <li>
        <a href="/songs/ranking">楽曲</a>
        </li>
      </ul>
    </div>
    <div class="artist__wrapper">
    <% last_impression = 0 %>
    <% j = 1 %>
    <% @artists.each_with_index do |artist, i| %>
      <% if i == 1 %>
        <% last_impression = artist.impressions_count %>
      <% end %>
      <div class="card">
      <% if artist.impressions_count != last_impression %>
        <% j = i %>
          <%= j+1 %>位
          <% last_impression = artist.impressions_count %>
      <% else %>
        <% last_impression = artist.impressions_count %>
          <%= j+1 %>位
      <% end %>
        <%= link_to image_tag(artist.image, class: :card__img ), artist_path(artist.id), method: :get %>
        <div class="card__body">
          <%= link_to artist.name, artist_path(artist.id), class: :card__artist %>
          <%= link_to artist.genre.name, artist_path(artist.id), class: :card__genre %>
          <%= link_to artist.city.name, artist_path(artist.id), class: :card__genre %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>