<%= render "shared/header" %>
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class="prototype__image">
        <%= image_tag @artist.image, class: :song__img %>
      </div>
      <h2 class="show_artist_name">
        <%= @artist.name%>
      </h2>
      <table class="table">
        <tbody>
        <% if artist_signed_in? && current_artist.artist_id == @artist.artist_id %>
            <%= link_to "編集する", edit_artist_registration_path(@artist), class: :artist__btn %>
          </div>
        <% end %>
        <% if @artist.info.present? %>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @artist.info %></td>
          </tr>
        <% end %>
          <tr>
            <th class="table__col1">メンバー</th>
            <td class="table__col2"><%= @artist.member %></td>
          </tr>
          <tr>
            <th class="table__col1">活動拠点</th>
            <td class="table__col3">
            <%= link_to @artist.city.name, "/artists/search?q%5Bcity_id_in%5D%5B%5D=&q%5Bcity_id_in%5D%5B%5D=#{@artist.city_id}&commit=検索" %></td>
          </tr>
          <tr>
            <th class="table__col1">ジャンル</th>
            <td class="table__col3">
            <%= link_to @artist.genre.name, "/artists/search?q%5Bgenre_id_in%5D%5B%5D=&q%5Bgenre_id_in%5D%5B%5D=#{@artist.genre_id}&commit=検索" %></td>
          </tr>
        <% if @artist.website.present? %>
          <tr>
            <th class="table__col1">Website</th>
            <td class="table__col3">
            <%=link_to @artist.website, @artist.website, target: :_blank, rel: "noopener noreferrer" %>
            </td>
          </tr>
        <% end %>
        <% if @artist.twitter.present? %>
          <tr>
            <th class="table__col1">Twitter</th>
            <td class="table__col3">
            <%=link_to @artist.twitter, "https://twitter.com/#{@artist.twitter}", target: :_blank, rel: "noopener noreferrer" %>
            </td>
          </tr>
        <% end %>
        <% if @artist.instagram.present? %>
          <tr>
            <th class="table__col1">Instagram</th>
            <td class="table__col3">
            <%=link_to @artist.instagram, "https://www.instagram.com/#{@artist.instagram}", target: :_blank, rel: "noopener noreferrer" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="share__btn">
        <p>Share</p>
        <%= link_to image_tag('twitterアイコン', class: :twitter_icon), "https://twitter.com/share?url=#{request.url}
          &text=#{@artist.name}のDIG ARTISTページ", data: { show_count: false }, title: 'Twitter', target: '_blank', rel: "noopener noreferrer" %>
        <%= link_to image_tag('facebookアイコン', class: :facebook_icon), "https://www.facebook.com/share.php?url=#{request.url}", rel: "nofollow", target: "_blank" %>
      </div>
      <div class="songs__lists">
        <h2 class="song__list">
          <%= "楽曲リスト"%>
        </h2>
        <div class="user__card">
          <%= render partial: 'song',collection: @songs %>
        </div>
      </div>
      <div class="songs__lists">
        <h2 class="song__list">
          <%= "MVリスト"%>
        </h2>
        <div class="user__card">
          <%= render partial: 'youtubes/youtube',collection: @youtubes %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>