<%= render "shared/header" %>
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class="prototype__image">
        <%= image_tag @artist.image, class: :song__img %>
      </div>
      <h2 class="page-heading">
        <%= @artist.name%>
      </h2>
      <table class="table">
        <tbody>
        <% if artist_signed_in? && current_artist.id %>
            <%= link_to "編集する", edit_artist_registration_path(@artist), class: :artist__btn %>
          </div>
        <% end %>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @artist.info %></td>
          </tr>
          <tr>
            <th class="table__col1">メンバー</th>
            <td class="table__col2"><%= @artist.member %></td>
          </tr>
          <tr>
            <th class="table__col1">活動拠点</th>
            <td class="table__col2"><%= @artist.city.name %></td>
          </tr>
          <tr>
            <th class="table__col1">ジャンル</th>
            <td class="table__col2"><%= @artist.genre.name %></td>
          </tr>
          <tr>
            <th class="table__col1">Website</th>
            <td class="table__col2"><%= @artist.website %></td>
          </tr>
          <tr>
            <th class="table__col1">Twitter</th>
            <td class="table__col2"><%= @artist.twitter %></td>
          </tr>
          <tr>
            <th class="table__col1">Instagram</th>
            <td class="table__col2"><%= @artist.instagram %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "楽曲リスト"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'songs/song',collection: @songs %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>