<%= render "shared/header" %>
<div class="main">
  <div class="inner">
    <div class="rankpage_title">
      <h1 class="page_title">ランキング</h1>
      <ul class="ranking_category">
        <li>
          <a href="/artists/ranking">アーティスト</a>
        </li>
        <li>
          <span>楽曲</span>
        </li>
      </ul>
    </div>
    <div class="card__wrapper">
      <% last_impression = 1 %>
      <% j = 1 %>
      <% @songs.each_with_index do |song, i| %>
        <% if i == 1 %>
          <% last_impression = song.impressions_count %>
        <% end %>
        <div class="card">
          <% if song.impressions_count != last_impression %>
            <% j = i %>
              <%= j %>位
              <% last_impression = song.impressions_count %>
          <% else %>
            <% last_impression = song.impressions_count %>
              <%= j %>位
          <% end %>
          <%= link_to image_tag(song.image, class: :card__img ), song_path(song.id), method: :get %>
          <div class="card__body">
            <%= link_to song.title, song_path(song.id), method: :get , class: :card__title%>
            <%= link_to song.artist.name, artist_path(song.artist.id), class: :card__user %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>