<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <div class="prototype__image">
        <%= image_tag @song.image, class: :song__img %>
      </div>
      <% if artist_signed_in? && current_artist.id == @song.artist_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_song_path(@song), class: :prototype__btn %>
          <%= link_to "削除する", "/songs/#{@song.id}",method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <p class="prototype__hedding">
        <%= @song.title %>
      </p>
      <%= link_to @song.artist.name, root_path, class: :prototype__user %>
      <div class="prototype__body">
        <div class="song__detail">
          <p class="detail__title">作詞</p>
          <p class="detail__message">
            <%= @song.writer %>
          </p>
        </div>
        <div class="song__detail">
          <p class="detail__title">作曲</p>
          <p class="detail__message">
            <%= @song.composer %>
          </p>
        </div>
        <div class="song__detail">
          <p class="detail__title">歌詞</p>
          <p class="detail__lyric">
            <%= @song.lyric %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
