<%= render "shared/header" %>
<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <div class="prototype__image">
        <%= image_tag @song.image, class: :song__img %>
      </div>

      <div class="prototype__song">
        <audio src= "<%= "#{@song.file}" %>" controls="">
          <a src="<%= "#{@song.file}" %>">ダウンロード</a>
        </audio>
      </div>

      <% if artist_signed_in? && current_artist.id == @song.artist_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_song_path(@song), class: :prototype__btn %>
          <%= link_to "削除する", "/songs/#{@song.id}",method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <p class="prototype__hedding">
        <%= @song.title %>
      </p>
      <%= link_to @song.artist.name, artist_path(@song.artist.id), class: :prototype__user %>
      <div class="song__body">
        <% if @song.info.present? %>
          <div class="song__detail">
            <p class="detail__title">楽曲紹介</p>
            <p class="detail__message">
              <%= @song.info %>
            </p>
          </div>
        <% end %>
        <% if @song.writer.present? %>
          <div class="song__detail">
            <p class="detail__title">作詞</p>
            <p class="detail__message">
              <%= @song.writer %>
            </p>
          </div>
        <% end %>
        <div class="song__detail">
          <p class="detail__title">作曲</p>
          <p class="detail__message">
            <%= @song.composer %>
          </p>
        </div>
        <% if @song.lyric.present? %>
          <div class="song__detail">
            <p class="detail__title__lyric">歌詞</p>
            <p class="detail__lyric"><%= @song.lyric %></p>
          </div>
        <% end %>
      </div>
      <div class="song__share__btn">
        <p>Share</p>
        <%= link_to image_tag('twitterアイコン', class: :twitter_icon), "https://twitter.com/share?url=#{request.url}
          &text=#{@song.artist.name}の「#{@song.title}」をDIG ARTISTで聴こう！", data: { show_count: false }, title: 'Twitter', target: '_blank', rel: "noopener noreferrer" %>
        <%= link_to image_tag('facebookアイコン', class: :facebook_icon), "https://www.facebook.com/share.php?url=#{request.url}", rel: "nofollow", target: "_blank" %>
      </div>
      <div class="aritist__info">
        <p class="artist_info_title">アーティスト情報</p>
        <div class="artist_info_image">
          <%= image_tag @song.artist.image, class: :song__img %>
        </div>
        <%= link_to @song.artist.name, artist_path(@song.artist.id), class: :artist_info_name %>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>