<!DOCTYPE html>
<html>
  <head>
    <script src="search.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dig Artist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo1.png", class: :logo), root_path %>
          </div>
          <div class="nav__center">
            <%= link_to "DIG ARTISTについて", root_path, class: :navigation__btn %>
            <%= link_to "お知らせ", root_path, class: :navigation__btn %>
            <%= link_to "ランキング", root_path, class: :navigation__btn %>
          </div>
          <%# ログインしているときは以下を表示するようにしましょう %>
          <% if artist_signed_in? %>
            <div class="nav__right">
              <%= image_tag("searchアイコン.png", id: "search",class: :search__btn) %>
              <%= link_to "ログアウト", destroy_artist_session_path, method: :delete, class: :nav__logout %>
              <%= link_to "楽曲アップロード", new_song_path, class: :song_up__btn %>
            </div>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
          <% else %>
            <div class="nav__right">
              <%= image_tag("searchアイコン.png", id: "search",class: :search__btn) %>
              <%= link_to "ログイン", new_artist_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_artist_registration_path, class: :nav__btn %>
            </div>
          <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
          <div class="artistSearchBox hidden" id="pull-down">
            <div class="artistSearchBox_inner">
              <p class="ttl_artistSearch">アーティスト検索</p>
              <div class="artistSearch_keyword">
                <p>フリーワードで探す</p>
                <form id="freewordSearch" action="">
                  <input maxlength="30" type="text" name="searchKeyword" placeholder="アーティスト名を入力" class="js-artistSearch">
                  <input tyoe="button" name="artistSearchBtn" value="Search" class="js-artistSearchButton" disabled>
                </form>
              </div>
              <div class="artistSearch_select">
                <ul class="artistSearch_tabs">
                  <li class="active">
                    <span class="artistSearch_genre">ジャンルから探す</span>
                  </li>
                  <li class>
                  <span class="artistSearch_area">活動拠点から探す</span>
                  </li>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © DIG ARTIST All rights reserved.</p>
    </footer>
  </body>
</html>
